# {{ ansible_managed }}
<IfModule mod_evasive20.c>
    DOSHashTableSize "{{ me_DOSHashTableSize }}"
    DOSPageCount "{{ me_DOSPageCount }}"
    DOSSiteCount "{{ me_DOSSiteCount }}"
    DOSPageInterval "{{ me_DOSPageInterval }}"
    DOSSiteInterval "{{ me_DOSSiteInterval }}"
    DOSBlockingPeriod "{{ me_DOSBlockingPeriod }}"
    DOSEmailNotify "{{ me_DOSEmailNotify }}"
    {% if me_syscmd_enabled and not me_iptables_ban %}
    DOSSystemCommand "{{ me_DOSSystemCommand }}"
    {% endif %}
    {% if me_iptables_ban and not me_syscmd_enabled %}
    DOSSystemCommand "sudo {{ me_iptables_script }} %s"
    {% endif %}
    DOSLogDir  "{{ me_DOSLogDir }}"
{% for ip in me_allowlist_ips %}
    DOSWhitelist {{ip}}
{% endfor %}
</IfModule>
